.part1 {
    border: 1px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #16325c;
}
.landscape {
    background-color: #def2ff;
    height: 452px;
    width: 100%;
    border: none;
}



.centered-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.m-top-large {
    margin-top:80px;
}

.neutraface {
    font-family: 'Neutraface Text', sans-serif;
    color: #16325c;
}

.neutraface-subtitle {
    line-height: 1.1em; 
    font-size: 1.875rem; 
    font-weight: 400px;
}

.get-started-button {
    background-color: rgb(251, 97, 14);
    border-color: rgb(251, 97, 14);
    color: white;
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    font-weight: bold;
    box-shadow: 0 1px 0 #b94303;
    white-space: nowrap;
    border-radius: 0.25rem;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin:30px 0px 30px 0px;
}

.flex-item-with-logo img {
    height: 65px;
}

.item-header {
    font-size: 20px;
}

.padding-large {
    padding:50px;
}


@media (max-width:769px) {
    .getStarted {
        height: 410px;
    }

    .flex-container {
        flex-direction: column;
    }
}